.container {
	width: 100%;
	height: 100%;
	position: relative;
	padding-top: 50px;
	margin-top: -50px;
	overflow: hidden;
}
.body {
	width: 100%;
	height: 100%;
	overflow-y: auto;
}
.header {
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	visibility: hidden;
}
.header.action {
	visibility: visible;
}
.floor.action {
	visibility: visible;
}
.header .default, .floor .default {
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #999;
}
